.job-details-view-container {
  background-color: #000000;
  flex-grow: 1;
  padding: 40px;
}

.job-item-container {
  list-style: none;
  background-color: #272727;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  font-family: 'Roboto';
  color: #ffffff;
}

.img-title-container {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 15px;
}

.title-rating-container {
  margin-top: 0;
}

.employment-type-icon-employment-type-container {
  display: flex;
}
.company-logo {
  width: 55px;
  height: 50px;
  margin-right: 10px;
}

.title-heading {
  color: #ffffff;
  font-weight: 500;

  margin-top: 0;
  margin-left: 5px;
  margin-bottom: 15px;
}

.star-rating-container {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}
.description-job-heading {
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 18px;
}

.star-icon {
  color: #fbbf24;
  font-size: 20px;
  margin-left: 5px;
  align-self: flex-start;
}

.rating-text {
  color: #ffffff;
  font-weight: bold;
  margin-top: 0;
  margin-left: 5px;
  align-self: center;
  margin-top: 4px;
}

.location-package-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-job-type-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.location-icon-location-container {
  display: flex;
  flex-direction: row;
}

.location-icon {
  color: #ffffff;
  font-size: 20px;
  margin-right: 8px;
}

.location {
  margin-top: 0;
  margin-bottom: 0;
}

.job-type {
  margin-top: 0;
  align-self: flex-end;
}

.package {
  margin-top: 0;
}

.link-item {
  text-decoration: none;
}

.job-details-failure-view {
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto';
}

.job-details-loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-container-failure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.failure-jod-details-btn {
  color: #ffffff;
  background-color: #6366f1;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.skillset-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.li-job-details-container {
  display: flex;
  min-width: 80px;
  margin: 16px;
  padding-left: 0px;
  flex-wrap: wrap;
}

.company-life-img-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  width: 100%;
}
.nav-link-similar {
  text-decoration: none;
}

.life-heading-para-container {
  width: 100%;
}

.similar-jobs-ul-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.description-visit-container {
  display: flex;
  justify-content: space-between;
}

.visit-icon {
  align-self: center;
}
.vi-icon {
  align-self: center;
  width: 30%;
}
.skill-heading {
  font-size: 18px;
  font-family: 'Roboto';
}

.visit-anchor {
  text-decoration: none;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #6366f1;
}

.skill-img {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  margin-top: 12px;
}
.skill-name {
  align-self: flex-start;
  font-size: 14px;
}

.similar-jobs-heading {
  color: #ffffff;
}
